body {
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 1440px;
    height: 1024px;
    position: relative;
    background: white;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
  }
  
  .background-rect {
    width: 377px;
    height: 1155px;
    left: 3px;
    top: -5px;
    position: absolute;
    background: rgba(221, 245, 209, 0.5);
    border-radius: 30px;
    border: 1px solid #C6F0B2;
  }
  
  .rotated-rect {
    width: 680.92px;
    height: 864.79px;
    left: 1335.77px;
    top: 238px;
    position: absolute;
    transform: rotate(89.73deg);
    transform-origin: 0 0;
    background: rgba(184, 235, 161, 0.8);
    border-radius: 30px;
    border: 1px solid #C6F0B2;
  }
  
  .title {
    width: 954px;
    left: 428px;
    top: 93px;
    position: absolute;
    text-align: center;
    color: black;
    font-size: 40px;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 700;
    word-wrap: break-word;
  }
  
  .image-1 {
    width: 212px;
    height: 195px;
    left: 77px;
    top: 66px;
    position: absolute;
    mix-blend-mode: multiply;
  }
  
  .image-2 {
    width: 354px;
    height: 151px;
    left: 32px;
    top: 823px;
    position: absolute;
  }
  
  .image-3 {
    width: 636px;
    height: 636px;
    left: 593px;
    top: 261px;
    position: absolute;
    border-radius: 400px;
  }
  
  .button {
    position: absolute;
    width: 245px;
    height: 63px;
    background: #67B443;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: 1px solid black;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s; 
  }
  .button:active {
    background-color: rgba(0, 0, 0, 0.5); /* Cambiamos el color de fondo cuando el botón está siendo presionado */
  }
  
  .button-text {
    position: absolute;
    color: black;
    font-size: 30px;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 700;
    word-wrap: break-word;
    margin: 0;
    align-self: center;
  }
  
  .patients {
    left: 62px;
    top: 449px;
  }
  
  .home {
    left: 62px;
    top: 322px;
    background: rgba(0, 0, 0, 0.5);
  }
  
  .measurements {
    left: 62px;
    top: 573px;
  }
  
  .exit {
    left: 60px;
    top: 699px;
  }
      .buttons {
        text-align: center;
        margin-top: 20px;
      }
  
      .buttons input[type="text"] {
        margin-bottom: 10px;
      }
  
      .buttons button {
        background: #67B443;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        border: 1px solid black;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 0.3s; 
        font-size: 20px; 
      }
  
      .input-button-container {
        display: flex;
        align-items: center;
        justify-content: center;
      }
  
      .input-button-container input[type="text"] {
        margin-right: 10px;
        font-size: 18px; 
      }
  
  
      .containerMedition {
        position: absolute;
        right: 10%;
        top: 50%;
        transform: translateY(-40%);
        width: 50%;
        text-align: center;
      }
  
      .fundacion-image {
        display: block;
        margin: 20px auto;
        width: 40%;
      }
  
      .titleMedition{
        width: 500px;
        left: 20%;
        position: relative;
        font-size: 40px;
        font-family: 'Inter';
        font-style: italic;
        font-weight: 700;
        word-wrap: break-word;
      }
      .buttonMedition{
        background: #67B443;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        border: 1px solid black;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        transition: background-color 0.3s; 
        font-size: 20px; 
  
      }
  
      .iniciar-medicin {
        width: 1153px;
        height: 466px;
        position: relative;
        background: #BDDFFF;
        border: 1px solid black;
      }
  
  
  
      .rectangle-18 {
        width: 81.41px;
        height: 57px;
        left: 0px;
        top: 0px;
        position: absolute;
        background: #FF0000;
        border: 1px solid #FF0000;
      }
  
      .x-button {
        background: #FF0000;
        position: absolute;
        width: 81.41px;
        height: 57px;
        left: 1071.03px;
        top: 2px;
        color: #D9D9D9;
        font-size: 40px;
        font-family: Inter;
        font-style: italic;
        font-weight: 700;
        cursor: pointer;
      }
  
      .rectangle-8 {
        width: 1087.55px;
        height: 367.16px;
        left: 36.89px;
        top: 58.17px;
        position: absolute;
        background: white;
        border-radius: 30px;
        border: 1px solid black;
      }
  
      .start-button {
        width: 298.62px;
        height: 144.33px;
        left: 81.37px;
        top: 174.86px;
        position: absolute;
        background: #67B443;
        border-radius: 40px; /* Hacer el botón circular */
        text-align: center;
        color: black;
        font-size: 50px;
        font-family: Inter;
        font-style: italic;
        font-weight: 700;
        cursor: pointer;
        background: #67B443;
        border: 1px solid #483030;
      }
  
      .group-71 {
        width: 298.62px;
        height: 144.33px;
        left: 430.21px;
        top: 174.86px;
        position: absolute;
        display: flex;
      }
  
      .rectangle-7 {
        width: 298.62px;
        height: 144.33px;
        left: 0px;
        top: 0px;
        position: absolute;
        background: #F84D53;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 40px;
        border: 1px solid #483030;
        display: flex;
      }
  
      .group-70 {
        width: 228.15px;
        height: 68.83px;
        left: 41.83px;
        top: 25.84px;
        position: relative;
      }
  
      .time {
        width: 133.75px;
        height: 56.43px;
        left: 30.59px;
        position: absolute;
        text-align: center;
        color: #000000;
        font-size: 36px;
        font-family: Inter;
        font-style: italic;
        font-weight: 700;
      }
  
      .time-value {
        width: 167.81px;
        height: 62.21px;
        left: 15.41px;
        top: 40.48px;
        position: absolute;
        text-align: center;
        color: #000000;
        font-size: 48px;
        font-family: Inter;
        font-style: italic;
        font-weight: 700;
      }
  
      .end-button {
        border-radius: 40px; /* Hacer el botón circular */
  
        width: 289.69px;
        height: 142.63px;
        position: absolute;
        left: 781.34px;
        top: 176.82px;
        text-align: center;
        color: black;
        font-size: 50px;
        font-family: Inter;
        font-style: italic;
        font-weight: 700;
        cursor: pointer;
        background: #67B443;
        border: 1px solid #483030;
      }
  
  
  