#containerDiv{
  display: flex;
}

#sidebar{
  width: 24%;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  height: 1024px;
  background-image: url("/Resource/rectangle-8.png");
  
}
.buttons {
  width: 250px;
  height: 66px; 
  padding: 10px;
  background: #67B443;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);  
  border-radius: 10px;
  font-family: 'Inter';
  font-style: italic;
  font-weight: 700;
  font-size: 25px;
  line-height: 10px;
  color: #000000;
  cursor: pointer;
  margin-top: 50px;
}

#homeButton{
width: 250px;
height: 66px;
padding: 10px;
background: #000000;
border: 1px solid #000000;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);  
border-radius: 10px;
font-family: 'Inter';
font-style: italic;
font-weight: 700;
font-size: 25px;
line-height: 10px;
color: #67B443;
cursor: pointer;
}

#logo-valle-del-lili{
  width: 212px;
  height: 195px;
  margin-bottom: 20px;
}
#logoIcesi{
  width: 250px;
  height: 120px;
  margin-top: 50px;
}

#secondContainer{
  display: inline-block; 
  flex-direction: column;
  align-items: center;
  height: 1024px;
}
#textTitle{
  width: 75% ;
  font-family: "Inter-BoldItalic", Helvetica;
  font-weight: 700;
  font-style: italic;
  color: #000000;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 50px;
}


.minibuttons{
  position: relative;
  width: 200px;
  height: 40px; 
  padding: 10px;
  background: #67B443;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);  
  border-radius: 10px;
  font-family: 'Inter';
  font-style: italic;
  font-weight: 700;
  font-size: 15px;
  line-height: 10px;
  color: #000000;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 50px;
}


#searchText{
  width: 40px;
  font-family: "Inter-BoldItalic", Helvetica;
  font-style: italic;
  color: #000000;
  font-size: 15px;
  margin: auto;
  float: left;
}
.input{
  position:relative;
  width: 30%;  
    padding: 10px;
    box-sizing: border-box;
    background: #91BB7D;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 700;
    line-height: 24px;
    color: #000000;
    opacity: 100;
}


.close-dialog {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
  cursor: pointer;
}


  
      .assigDevice{
        width: 800px;
        height: 466px;
        top:-100px;
        position: relative;
        background: #BDDFFF;
        border: 1px solid black;
      }
  
      .dropbtn {
    background-color: #4CAF50;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border: 1px solid #000000;
    border-radius: 10px;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 700;
    font-size: 25px;
    line-height: 10px;
    cursor: pointer;
    text-align: center;
    
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    left: 30px;
    top: 30px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 0px; /* con esto añadimos o quitamos separacion */
  }
  
  .dropdown-content a {
    color: black; 
    padding: 20px 20px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }

  .dropdown-content a:focus {
    background-color: #e1e1e1;
  }

  .device-info-container:hover {
    cursor: pointer;
  }

  .device-info-container{
    width: 100%;
    position: relative;
    display: flex;
    left: 30px;
    top: 30px;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 700;
    font-size: 25px;
    line-height: 10px;
    cursor: pointer;
    text-align: center;
    
    
  }
  

  .doctor-info-container{
    flex-direction: column;
    left:50px;
  }
  
  .x-button {
          background: #FF0000;
          position: absolute;
          width: 41.41px;
          height: 47px;
          left: 700.03px;
          top: 10px;
          color: #D9D9D9;
          font-size: 40px;
          font-family: Inter;
          font-style: italic;
          font-weight: 700;
          cursor: pointer;
        }

.pngwing{
  position: relative;
  width: 489px;
  height: 489px;
  top: -10%;
  left: 20%;
  object-fit: cover;
}

.createDevice{
  display: flex;
}
  