#containerDiv{
    display: flex;
}

#sidebar{
    width: 24%;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    height: 1024px;
    background-image: url("/Resource/rectangle-8.png");
    
}
.buttons {
    width: 250px;
    height: 66px; 
    padding: 10px;
    background: #67B443;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);  
    border-radius: 10px;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 700;
    font-size: 25px;
    line-height: 10px;
    color: #000000;
    cursor: pointer;
    margin-top: 50px;
}

#patients{
  width: 250px;
  height: 66px;
  padding: 10px;
  background: #000000;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);  
  border-radius: 10px;
  font-family: 'Inter';
  font-style: italic;
  font-weight: 700;
  font-size: 25px;
  line-height: 10px;
  color: #67B443;
  cursor: pointer;
}

#logo-valle-del-lili{
    width: 212px;
    height: 195px;
    margin-bottom: 20px;
}
#logoIcesi{
    width: 250px;
    height: 120px;
    margin-top: 50px;
}

#secondContainer{
    display: flex; 
    flex-direction: column;
    align-items: center;
    height: 1024px;
}
#textTitle{
    width: 75% ;
    font-family: "Inter-BoldItalic", Helvetica;
    font-weight: 700;
    font-style: italic;
    color: #000000;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    margin-bottom: 50px;
}

#searchbar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    margin-left: 50px;
}

.minibuttons{
    width: 100px;
    height: 40px; 
    padding: 10px;
    background: #67B443;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);  
    border-radius: 10px;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 700;
    font-size: 15px;
    line-height: 10px;
    color: #000000;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 50px;
}

#searchText{
    width: 40px;
    font-family: "Inter-BoldItalic", Helvetica;
    font-style: italic;
    color: #000000;
    font-size: 15px;
    margin: auto;
    float: left;
}
.input{
    width: 30%;  
      padding: 10px;
      box-sizing: border-box;
      background: #91BB7D;
      border: 1px solid #000000;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 5px;
      font-family: 'Inter';
      font-style: italic;
      font-weight: 700;
      line-height: 24px;
      color: #000000;
      opacity: 100;
}

#miTabla {
    margin-top: 100px;
    width: 100%;
    background: #91BB7D;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 700;
    line-height: 24px;
    color: #000000; 
    opacity: 100;
}

#miTabla td, #miTabla th {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: center;
}
#miTabla button{
    width: 100px;
    height: 40px; 
    padding: 10px;
    background: #67B443;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);  
    border-radius: 10px;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 700;
    font-size: 15px;
    line-height: 10px;
    color: #000000;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}